

body {
   background: #808080;
   color: black;
}

#contact-form {
   background-color: #ffffff;
   padding: 10px 20px 30px 20px;
   max-width: 550px;
   float: left;
   left: 50%;
   position: absolute;
   margin-top:30px;
   margin-left: -260px;
   border-radius:7px;

}
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
   font-size: 14px;  
    color: #444444;
   margin-bottom: 2px;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
   width:100%;
   background: #fff;
   border: 1px solid #e1e1e1;
   margin-bottom: 25px;  
   padding: 5px;  
}  

#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   font-weight: 800;
   background:#f4952f;
   background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   color:#fff;
   margin:0 0 5px;
   padding:10px;
}

#contact-form button[type="submit"]:hover {
   background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);

}



